<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form method="post" action="{:U('home/Pay/doPay')}">
    金额:<input type="text" value="" name="money">
    <input type="hidden" value="20170519136521" name="trade_no">
    <input type="hidden" value="阿纳豆充值" name="ordsubject">
    <input type="hidden" value="0.01" name="ordtotal_fee">
    <input type="hidden" value="什么描述" name="ordbody">
    <input type="hidden" value="" name="ordshow_url">
    <input type="submit" value="提交">
</form>
</body>
</html>