<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="keywords" content="admin, dashboard, bootstrap, template, flat, modern, theme, responsive, fluid, retina, backend, html5, css, css3">
  <meta name="description" content="">
  <meta name="author" content="ThemeBucket">
  <link rel="shortcut icon" href="#" type="image/png">
  <title>阿纳巴里</title>
    <block name="css">

    </block>
  <link href="__CSS__/bootstrap.min.css" rel="stylesheet">
  <!--common-->
  <link href="__CSS__/style.css" rel="stylesheet">
  <link href="__CSS__/style-responsive.css" rel="stylesheet">
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="__JS__/html5shiv.js"></script>
  <script src="__JS__/respond.min.js"></script>
  <![endif]-->
    <style>
        .li_choice{         
            background: #2a323f;
            }
           .custom-nav .sub-menu-list  .li_choice>a{
                   color: #65cea7;
             }
    </style>
</head>

<body class="sticky-header">

<section>
    <!-- left side start-->
    <div class="left-side sticky-left-side">

        <!--logo and iconic logo start-->
        <div class="logo">
            <a href="{:U('admin/Index/index')}"><img src="__IMG__/logo.png" alt=""></a>
        </div>

        <div class="logo-icon text-center">
            <a href="index.html"><img src="__IMG__/logo_icon.png" alt=""></a>
        </div>
        <!--logo and iconic logo end-->

        <div class="left-side-inner">

            <!-- visible to small devices only -->
            <div class="visible-xs hidden-sm hidden-md hidden-lg">
                <div class="media logged-user">
                    <img alt="" src="__IMG__/images/photos/user-avatar.png" class="media-object">
                    <div class="media-body">
                        <h4><a href="#">John Doe</a></h4>
                        <span>"Hello There..."</span>
                    </div>
                </div>

                <h5 class="left-nav-title">Account Information</h5>
                <ul class="nav nav-pills nav-stacked custom-nav">
                  <li><a href="#"><i class="fa fa-user"></i> <span>个人中心</span></a></li>
                  <li><a href="#"><i class="fa fa-cog"></i> <span>设置</span></a></li>
                  <li><a href="#"><i class="fa fa-sign-out"></i> <span>退出登录</span></a></li>
                </ul>
            </div>

            <!--sidebar nav start-->
            <ul class="nav nav-pills nav-stacked custom-nav">
                <li class="active"><a href="{:U('admin/Index/index')}"><i class="fa fa-home"></i> <span>首页</span></a></li>
                <li class="menu-list"><a href=""><i class="fa fa-user"></i> <span>用户管理</span></a>
                    <ul class="sub-menu-list" id="0">
                        <li><a href="{:U('admin/User/index?sh=0-0')}">用户列表</a></li>
                        <li><a href="{:U('admin/User/add?sh=0-1')}">用户添加</a></li>
                    </ul>
                </li>
                <!--权限管理功能完整，需要时打开注释
                <li class="menu-list"><a href=""><i class="fa fa-user"></i> <span>权限管理</span></a>
                    <ul class="sub-menu-list" >
                        <li><a href="{:U('admin/Permission/index?sh=0-0')}">权限列表</a></li>
                        <li><a href="{:U('admin/Permission/add?sh=0-1')}">权限添加</a></li>
                    </ul>
                </li>
                -->
                <li class="menu-list"><a href=""><i class="fa fa-user"></i> <span>会员管理</span></a>
                    <ul class="sub-menu-list" id="1">
                        <li><a href="{:U('admin/Member/select?sh=1-0')}">会员列表</a></li>
                        <li><a href="{:U('admin/Member/addMember?sh=1-1')}">会员添加</a></li>
                        <li><a href="{:U('admin/Member/getProfit?sh=1-2')}">会员收益</a></li>
                        <li><a href="{:U('admin/Member/integral?sh=1-3')}">升级规则</a></li>
                        <li><a href="{:U('admin/Member/question?sh=1-4')}">会员问答</a></li>
                        <li><a href="{:U('admin/Member/comment?sh=1-5')}">会员评论</a></li>
                        <li><a href="{:U('admin/Member/addReply?sh=1-6')}">快捷回复</a></li>
                    </ul>
                </li>
                <li class="menu-list"><a href=""><i class="fa fa-folder-o"></i> <span>电影管理</span></a>
                    <ul class="sub-menu-list" id="2">
                        <li><a href="{:U('admin/Project/index?sh=2-0')}">电影列表</a></li>
                        <li><a href="{:U('admin/Project/add?sh=2-1')}">电影添加</a></li>
                        <li><a href="{:U('admin/ProjectCategory/index?sh=2-2')}">电影分类</a></li>
                        <li><a href="{:U('admin/Dynamic/index?sh=2-3')}">电影动态</a></li>
                    </ul>
                </li>
                <li class="menu-list"><a href=""><i class="fa fa-gear"></i> <span>明星管理</span></a>
                    <ul class="sub-menu-list" id="3">
                        <li><a href="{:U('admin/PageConfig/select?sh=3-0')}">优秀作品</a></li>

                       
                        <li><a href="{:U('admin/Works/index?sh=3-1')}">优秀演员</a></li>

                        <li><a href="{:U('admin/PageConfig/director?sh=3-2')}">优秀导演</a></li>
                        

                    </ul>
                </li>
                <li class="menu-list"><a href=""><i class="fa fa-building-o"></i> <span>订单管理</span></a>
                    <ul class="sub-menu-list" id="4">

                        <li><a href="{:U('admin/order/orderRecharge?sh=4-0')}">充值订单</a></li>
                        <li><a href="{:U('admin/order/cash?sh=4-1')}">提现订单</a></li>
                        <!--<li><a href="{:U('admin/order/downloadOrder')}">下载订单</a></li>-->
                        <li><a href="{:U('admin/order/supportOrder?sh=4-2')}">支持订单</a></li>


                    </ul>
                </li>

                <li class="menu-list"><a href=""><i class="fa fa-envelope"></i> <span>数据管理</span></a>
                    <ul class="sub-menu-list" id="5">
                        <li><a href="{:U('admin/Count/memberCount?sh=5-0')}">会员数据</a></li>
                        <li><a href="{:U('admin/Count/projectCount?sh=5-1')}">电影数据</a></li>
                        <li><a href="{:U('admin/Count/payCount?sh=5-2')}">销售数据</a></li>
                        <li><a href="{:U('admin/Count/financeCount?sh=5-3')}">财务数据</a></li>
                    </ul>
                </li>
                <li class="menu-list"><a href=""><i class="fa fa-envelope"></i> <span>明星招募</span></a>
                    <ul class="sub-menu-list" id="6">
                        <li><a href="{:U('admin/Role/add?sh=6-0')}">添加角色</a></li>
                        <li><a href="{:U('admin/Role/index?sh=6-1')}">招募列表</a></li>
                        <li><a href="{:U('admin/Role/film?sh=6-2')}">添加招募</a></li>
                        <li><a href="{:U('admin/Member/memberStar?sh=6-3')}">申请列表</a></li>
                    </ul>
                </li>
                <li class="menu-list"><a href=""><i class="fa fa-gears"></i> <span>后台系统</span></a>
                    <ul class="sub-menu-list" id="7">
                        <li><a href="{:U('admin/System/index?sh=7-0')}">网站基本设置</a></li>
                        <li><a href="{:U('admin/System/cooperation?sh=7-1')}">合作机构设置</a></li>
                    </ul>
                </li>

                <li class="menu-list"><a href=""><i class="fa fa-rss"></i> <span>信息发布</span></a>
                    <ul class="sub-menu-list" id="8">
                        <li><a href="{:U('admin/Category/index?sh=8-0')}">分类管理</a></li>
                        <li><a href="{:U('admin/Article/index?sh=8-1')}">信息列表</a></li>
                    </ul>
                </li>
                <li class="menu-list"><a href=""><i class="fa fa-gears"></i> <span>支付管理</span></a>
                    <ul class="sub-menu-list" id="9">
                        <li><a href="{:U('admin/Pay/index?sh=9-0')}">支付列表</a></li>
                    </ul>
                </li>
                <li><a href="{:U('admin/Login/logout')}"><i class="fa fa-sign-in"></i> <span>退出</span></a></li>

            </ul>
            <!--sidebar nav end-->

        </div>
    </div>
    <!-- left side end-->
    
    <!-- main content start-->
    <div class="main-content" >

        <!-- header section start-->
        <div class="header-section">

            <!--toggle button start-->
            <a class="toggle-btn"><i class="fa fa-bars"></i></a>
            <!--toggle button end-->

            <!--search start-->
            <!--<form class="searchform" action="index.html" method="post">
                <input type="text" class="form-control" name="keyword" placeholder="Search here..." />
            </form>-->
            <!--search end-->

            <!--notification menu start -->
            <div class="menu-right">
                <ul class="notification-menu">
                    <li>
                        <a href="#" class="btn btn-default dropdown-toggle info-number" data-toggle="dropdown">
                            <i class="fa fa-bell-o"></i>
                            <if condition="count($untreated_list) gt 0">
                                <span class="badge" id="transNum">{:count($untreated_list)>=99?'99+':count($untreated_list)}</span>
                            </if>

                        </a>
                        <div class="dropdown-menu dropdown-menu-head pull-right">
                            <h5 class="title">未处理事务</h5>
                            <ul class="dropdown-list normal-list" id="untreatedList" style="overflow: auto;max-height: 265px;">
                                <if condition="count($untreated_list) gt 0">
                                    <volist name="untreated_list" id="untreated_info" >
                                        <li class="new">
                                            <a href="{$untreated_info.url}" title="点我立即处理">
                                                <span class="label label-danger"><i class="fa fa-bolt"></i></span>
                                                <span class="name">[{$untreated_info.type}]{$untreated_info.content}</span>
                                                <em class="small"></em>
                                            </a>
                                        </li>
                                    </volist>

                                    <else />
                                    <li class="new">
                                        <a href="javascript:;">
                                            <span class="name">暂无事务</span>
                                        </a>
                                    </li>
                                </if>

                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <img src="{$userInfo['image_url']}" alt="" />
                            {$userInfo['username']}
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-usermenu pull-right">
                            <!--<li><a href="#"><i class="fa fa-user"></i>个人中心</a></li>
                            <li><a href="#"><i class="fa fa-cog"></i></a></li>-->
                            <li><a href="{:U('admin/login/logout')}"><i class="fa fa-sign-out"></i> 退出</a></li>
                        </ul>
                    </li>

                </ul>
            </div>
            <!--notification menu end -->

        </div>
        <!-- header section end-->
        <block name="main">

        </block>
        <!--footer section start-->
        <footer>
            2017 &copy; AdminEx by ThemeBucket
        </footer>
        <!--footer section end-->
    </div>

    <!-- main content end-->
</section>
<!-- Placed js at the end of the document so the pages load faster -->
<script src="__JS__/jquery-1.10.2.min.js"></script>
<script src="__JS__/jquery-ui-1.9.2.custom.min.js"></script>
<script src="__JS__/jquery-migrate-1.2.1.min.js"></script>
<script src="__JS__/bootstrap.min.js"></script>
<script src="__JS__/modernizr.min.js"></script>
<script src="__JS__/jquery.nicescroll.js"></script>

<!--Sparkline Chart-->
<script src="__JS__/sparkline/jquery.sparkline.js"></script>
<script src="__JS__/sparkline/sparkline-init.js"></script>

<!--icheck -->
<script src="__JS__/iCheck/jquery.icheck.js"></script>
<script src="__JS__/icheck-init.js"></script>

<!-- jQuery Flot Chart-->
<script src="__JS__/flot-chart/jquery.flot.js"></script>
<script src="__JS__/flot-chart/jquery.flot.tooltip.js"></script>
<script src="__JS__/flot-chart/jquery.flot.resize.js"></script>

<!--common scripts for all pages-->
<script src="__JS__/scripts.js"></script>






<block name="js">

</block>
<script type="text/javascript">
    setInterval("getTrans()",10000);//1000为1秒钟
    function getTrans()
    {
        $.get('{:U("admin/Common/getTrans")}',function (data) {
            $('#untreatedList').html(data.content);
            if(data.num > 0){
                $('#transNum').removeClass('badge');
                $('#transNum').addClass('badge');
                if(data.num > 99){
                    data.num = '99+';
                }
                $('#transNum').text(data.num)
            }else{
                $('#transNum').removeClass('badge');

            }
        });
    }   

    var  url= window.location.href;
    var number = url.slice(url.indexOf('/sh/')+4,url.indexOf('/sh/')+7);
    var choiceArry=number.split('-');
   // console.log(choiceArry)
    if(number!='p'){
          $('.menu-list').eq(choiceArry[0]).addClass('nav-active')
          $('.menu-list').eq(choiceArry[0]).children('.sub-menu-list').children().eq(choiceArry[1]).addClass('li_choice')
    }
    

</script>
</body>
</html>
