<extend name="public:tpl" />
<block name="css">
    <style>
        .ms-drop input[type="checkbox"] {
            margin-right: 3px;
        }

        .ms-drop ul > li.multiple label {
            margin-right: 5px;
        }

        .imgInput {
            float: left;
            margin-right: 20px;
            border: 1px dashed silver;
        }

        .imgInput:hover {
            cursor: pointer;
            border: 3px dashed silver;
        }

        .tangram-suggestion-main {
            z-index: 100;
        }

        .some-class {
            width: 100px !important;
            height: 100px !important;
            border-radius: 0;
            line-height: 100px !important;
            font-size: 40px;
            font-weight: bold !important;
            color: #666666 !important;
            background: white !important;
            border: dashed 1px #666666;
        }

        .radio, .checkbox {
            padding-left: 0px !important;
        }

        .loadfile {
            display: block;
            width: 100px;
            height: 100px;
            border: 1px dashed silver;
            cursor: pointer;
            color: #838383;
            font-size: 44px;
            line-height: calc(100px - 9px);
            text-align: center;
        }

        .panel-default > .panel-heading {
            background-color: #f5f5f5 !important;
        }

        .error {
            color: red;
            padding: 0 10px;
        }

        .ms-drop {
            position: initial !important;
        }

        #l-map {
            height: 500px;
            width: auto;
        }
        .anchorBL{display:none;}
    </style>
</block>
<block name="main">
    <!-- page heading start-->
    <div class="page-heading">
        <h3>
            配置管理
        </h3>
        <ul class="breadcrumb">
            <li>
                <a href="#">优秀作品</a>
            </li>
            <li class="active"> 添加作品 </li>
        </ul>
    </div>
    <section class="wrapper">
        <!-- page start-->

        <div class="row">
            <div class="col-lg-12">
                <section class="panel">
                    <div class="panel-body">
                        <form action="{:U('admin/pageConfig/add')}" class="form-horizontal adminex-form" method="post" id="projectForm">

                            <div class="tab-content">
                                <!--项目基本信息-->
                                <div class="tab-pane active" id="baseInfo">
                                    <div class="form-group">
                                        <label class="col-sm-2 col-sm-2 control-label">电影名称</label>
                                        <div class="col-sm-4 col-md-4">
                                            <input type="text" name="name" class="form-control" placeholder="请输入电影名称">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class=" col-md-2 control-label">电影类型</label>
                                        <div class="col-sm-10 icheck">
                                            <div class="input-group">
                                                <div class="radio">
                                                    <label>
                                                        <input type="checkbox" name="type[]" value="战争">战争
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="input-group">
                                                <div class="radio">
                                                    <label>
                                                        <input type="checkbox" name="type[]"  value="爱情">爱情
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="input-group">
                                                <div class="radio">
                                                    <label>
                                                        <input type="checkbox" name="type[]"  value="喜剧">喜剧
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="input-group">
                                                <div class="radio">
                                                    <label>
                                                        <input type="checkbox" name="type[]"  value="科幻">科幻
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 col-sm-2 control-label">封面图(规格:500px*200px png)</label>
                                        <div class="col-sm-10">
                                            <span class="loadfile" id="file_upload">+</span>

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 col-sm-2 control-label">图片列表</label>
                                        <div class="col-sm-10" id="images">

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 col-sm-2 control-label">作品排序</label>
                                        <div class="col-sm-4 col-md-4">
                                            <input type="number" name="sort" class="form-control" value="1">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 col-sm-2 control-label">粉丝人数</label>
                                        <div class="col-sm-4 col-md-4">
                                            <input type="text" name="fans_number" class="form-control" placeholder="请输入项目标题">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 col-sm-2 control-label">投票人数</label>
                                        <div class="col-sm-4 col-md-4">
                                            <input type="text" name="vote_number" class="form-control" placeholder="请输入项目标题">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-2 col-sm-2 control-label">电影简介</label>
                                        <div class="col-sm-4 col-md-4">
                                            <textarea name="intro" cols="100" rows="10" class="form-control"
                                                      placeholder="请输入项目的简介"></textarea>
                                        </div>
                                    </div>
                                    <!--项目状态-->
                                    <div class="form-group">
                                        <label class=" col-md-2 control-label">是否上线</label>
                                        <div class="col-sm-10 icheck">
                                            <div class="input-group">
                                                <div class="radio">
                                                    <label>
                                                        <input type="radio" name="is_active" checked value="1">是
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="input-group">
                                                <div class="radio">
                                                    <label>
                                                        <input type="radio" name="is_active"  value="0">否
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                <!--项目视频-->
                                <div class="layui-progress">
                                    <div class="layui-progress-bar" lay-percent="10%"></div>
                                </div>
                                <br>
                                <div class="form-group">
                                    <div class="col-lg-offset-2 col-lg-10">
                                        <button class="btn btn-success" type="submit">保存</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </section>
            </div>
        </div>
    </section>
</block>
<block name="js">
    <!--<js href="__PUBLIC__/uploadify/jquery.uploadify.min.js"/>-->
    <script src="__PUBLIC__/js/jquery-1.11.2.min.js" type="text/javascript"></script>
    <script src="__PUBLIC__/validate/dist/jquery.validate.js" type="text/javascript"></script>
    <script src="__PUBLIC__/layer/layer.js" type="text/javascript"></script>
    <script src="__PUBLIC__/ueditor/ueditor.config.js" type="text/javascript"></script>
    <script src="__PUBLIC__/ueditor/ueditor.all.js" type="text/javascript"></script>

    <script src="__PUBLIC__/code/js/jquery.html5upload.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#file_upload").h5upload({
                url: "{:U('admin/pageConfig/upload')}",
                fileObjName: 'image',
                fileTypeExts: 'jpg,png,gif,bmp,jpeg',
                multi: true,
                accept: '*',
                fileSizeLimit: 1024 * 1024 * 1024 * 1024,
                formData: {
                    type: 'card_positive'
                },
                onUploadProgress: function (file, uploaded, total) {
                    layer.msg('正在上传');
                },
                onUploadSuccess: function (file, data) {
                    data = $.parseJSON(data);
                    if (data.status == 0) {
                        layer.alert(data.msg, {time: 1000})
                    } else {
                        var _isMax = false;
                        var path = data.url;
                        console.log(data.url);
                        var _html = '<div class="imgInput"><img title="点我删除" src="' + path + '" width = 100 height = 100 /><input type="hidden" name="image_url" value="' + path + '"></div>';
                        // 获取图片列表
                        $('#images').html(_html);
                        if (_isMax == false) {
                            layer.msg('上传成功', {time: 1000})

                        }
                    }
                },
                onUploadError: function (file) {
                    layer.alert('上传失败');
                }
            });

            $('#images').on('click', '.imgInput', function () {
                console.debug($(this));
                // 删除当前图片
                $(this).remove();
            });

        });
    </script>
    <script type="text/javascript">
        $(function () {
            $("#file_upload1").h5upload({
                url: "{:U('admin/Project/upload_video')}",
                fileObjName: 'video',
                fileTypeExts: 'avi,wma,rmvb,rm,flash,mp4,mid,3GP,mpg,mov,wmov,qt',
                multi: true,
                accept: '*/*',
                fileSizeLimit: 5*1024*1024*1024,
                formData: {
                    type: 'card_positive'
                },
                onUploadProgress: function (file, uploaded, total) {
                    layer.msg('正在上传,请耐心等待');
                },
                onUploadSuccess:function(file, uploaded, total){
                    layer.msg('上传成功');
                },
                onUploadSuccess: function (file, data) {
                    data = $.parseJSON(data);
                    if (data.status == 0) {
                        layer.alert(data.msg, {time: 1000})
                    } else {
                        var _isMax = false;
                        var path = data.url;
                        var _html = '<div class="imgInput"><input type="hidden" name="url" value="' + path + '"></div>';
                        // 获取图片列表
                        $('#videos').append(_html);
                        if (_isMax == false) {
                            layer.msg('上传成功', {time: 1000})
                        }
                    }
                },
                onUploadError: function (file) {
                    layer.alert('上传失败');
                }
            });
        });
    </script>
    <script type="text/javascript">
        var ue4 = UE.getEditor('container4', {
            toolbars: [
                ['fullscreen', 'source', 'undo', 'redo', 'bold','indent','snapscreen', 'italic', 'underline', 'strikethrough','formatmatch','fontfamily',
                    'fontsize', 'paragraph', 'simpleupload', 'insertimage','justifyleft', 'justifyright', 'justifycenter', 'justifyjustify', 'forecolor',
                    'backcolor', 'insertorderedlist', 'insertunorderedlist','imagecenter', 'wordimage', 'lineheight'
                ]
            ],
            autoHeightEnabled: true,
            autoFloatEnabled: true
        });
    </script>
    <script>
        $('#projectForm').validate({
            rules: {
                name: {
                    required: true
                },
                type: {
                    required: true
                },
                fans_number: {
                    required: true
                },
                vote_number: {
                    required: true
                },
                intro: {
                    required: true
                },
                is_active: {
                    required: true
                },
                image_url: {
                    required: true
                }
            },
            messages: {
                name: {
                    required: '*电影名称必须填写*'
                },
                type: {
                    required: '*请选择电影类型*'
                },
                fans_number: {
                    required: '*粉丝人数必填*'
                },
                vote_number: {
                    required: '*投票人数必填*'
                },
                is_active: {
                    required: '*是否上线？*'
                },
                intro: {
                    required: '*电影简介必须填写*'
                },
                image_url: {
                    required: '*请上传封面图*'
                }
            },
            showErrors: function (errorMap, errorList) {
                $.each(errorList, function (i, v) {
                    if (i == 0) {
                        layer.msg(v.message);
                    }
                })
            },
            submitHandler: function (form) {
                var _data = $(form).serialize();
                console.log($(form).attr('action'));
                $.post($(form).attr('action'), _data, function (data) {
                    if (data.status == 1) {
                        layer.msg(data.msg, {
                            time: 2000,
                            success:function(){
                                window.location.href = "{:U('admin/pageConfig/select')}"
                            }
                        });

                    } else {

                    }
                });
                return false;
            }
        });

    </script>

</block>
