<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="__PUBLIC__/wang/common_css/reset.css">
	<link rel="stylesheet" href="__PUBLIC__/wang/news/news.css">
	<style>
		.new_content>h4{
			font-size: 20px;
			margin-bottom: 25px;
			margin-top: 25px;
		}
		.new_content>p{
			font-size: 16px;
			padding-left: 15px;
			margin-bottom: 10px;
		}
	</style>
	<title>阿纳巴里协议</title>
</head>
<body>
	<header>
		<include file="layout:header" />
	</header>
	<div class="content">
		<div class="new_content">
			<h3>阿纳巴里用户注册协议</h3>
			<p>{:htmlspecialchars_decode($systemInfo['zhuce'])}</p>
			
		</div>
	</div>

	<script src='__PUBLIC__/wang/common_js/jquery-1.12.4.min.js'></script>
	<script src='__PUBLIC__/wang/common_js/common.js'></script>
</body>
</html>