<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="__PUBLIC__/wang/common_css/reset.css">
	<link rel="stylesheet" href="__PUBLIC__/wang/news/news.css">
	<title>新闻中心</title>
</head>
<body>
	<header>
		<include file="layout:header" />
	</header>
	<div class="content">
		<div class="new_content">
			<h3>{$new.title}</h3>
			<div>{:date('Y-m-d H:i:s',$new['create_time'])}</div>
			<div class="news">
				 {:htmlspecialchars_decode($new['content'])}
			</div>
		</div>
	</div>
	<script src='__PUBLIC__/wang/common_js/jquery-1.12.4.min.js'></script>
	<script src='__PUBLIC__/wang/common_js/common.js'></script>
	<script>
			//屏幕宽度高度调节

	if($(window).height()>=768){
		$('.content').css({
			height:$(window).height()-190
		})
	}
	</script>	
</body>
</html>