<extend name="public:tpl" />
<block name="css">
    <!--layer-->
    <link href="__CSS__/layui.css" rel="stylesheet">
</block>
<block name="main">
    <div class="page-heading">
        <h3>
            配置管理
        </h3>
        <ul class="breadcrumb">
            <li>
                <a href="#">配置管理</a>
            </li>
            <li class="active"> 优秀作品 </li>
        </ul>
    </div>
    <div class="wrapper">
       <a href="{:U('admin/pageConfig/addRector')}"> <input type="button" class="btn btn-xs btn-success" value="添加新导演"></a>
        <table class="table table-bordered table-hover">
            <tr align="center" >
                <td>编号</td>
                <td>名字</td>
                <td>地址</td>
                <td>粉丝数</td>
                <td>投票数</td>
                <td>封面图</td>
                <td>是否上线</td>
                <td>操作</td>
            </tr>
            <tbody id="body">
            <volist name="list" id="l">
                <tr align="center">
                    <td>{$l.id}</td>
                    <td>{$l.name}</td>
                    <td>{$l.address}</td>
                    <td>{$l.fans_number}</td>
                    <td>
                            {$l.vote_number}
                    </td>
                    <td>{$l.image_url}</td>
                    <td><img src="__IMG__/{$l.is_active}.gif"></td>
                    <td><input type="button" class="btn btn-xs btn-info detail" value="详情" data-id="{$l['id']}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="button"  class="btn btn-xs btn-danger delete" data-id="{$l.id}" value="删除" data-toggle="modal" data-target=".myModal"></td>
                </tr>
            </volist>
            </tbody>
        </table>
        <div id="demo6"></div>
        <input type="hidden" id="count" value="{$count}">
        <input type="hidden" id="data-id" value="">
    </div>
    </button>
</block>
<block name="js">
    <!--layer.js-->
    <script src="__JS__/layer/layui.js"></script>
    <script src="__JS__/layer/laypage.js"></script>
    <script>
        $(function(){
            layui.use(['laypage', 'layer'], function(){
                var laypage = layui.laypage,layer = layui.layer;
                laypage({
                    cont: 'demo6'
                    ,pages: $('#count').val()
                    ,skip: true
                    ,jump: function(obj, first){
                        if(!first){
                            $.ajax({
                                'type':'post',
                                'dataType':'json',
                                'url':"{:U('admin/pageConfig/director')}",
                                'data':{
                                    'pgNum':obj.curr,
                                    'pgSize':20,
                                },
                                success:function(result){
                                    $('#body').html('');
                                    if(result.status == 1 && result.data != ''){
                                        $.each(result.data,function(k,v){
                                            $('#body').append(
                                                    '<tr align="center">'+
                                                    '<td>'+ v.id+'</td>'+
                                                    '<td>'+ v.name+'</td>'+
                                                    '<td>'+ v.address+'</td>'+
                                                    '<td>'+ v.fans_number+'</td>'+
                                                    '<td>'+ v.vote_number+'</td>'+
                                                    '<td>'+ v.image_url+'</td>'+
                                                    '<td>'+ '<img src="__IMG__/'+ v.is_active+'.gif"/>'+'</td>'+
                                                    '<td>'+'<input type="button" class="btn btn-xs btn-info detail" value="详情" data-id="'+ v.id+'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'+'<input type="button" class="delete btn btn-xs btn-danger" data-toggle="modal" data-target=".myModal" value="删除"  data-id='+ v.id+'>'+'</td>'+
                                                    "</tr>"
                                            );
                                        });
                                    }
                                }
                            });
                        }
                    }
                });
            });

        });
        $('body').on('click','.delete',function(e){
            var id = $(this).attr('data-id');
            $.ajax({
                'type':'post',
                'dataType':'json',
                'url':"{:U('admin/pageConfig/delRector')}",
                'data':{
                    'id':id
                },
                success:function(result){
                    if(result.status == 1){
                        layer.msg('删除成功!');
                        location.reload();
                    }else{
                        layer.msg('删除失败!');
                    }
                }
            });
        });
        $('body').on('click','.detail',function(){
            var id = $(this).attr('data-id');
            layer.open({
                type: 2,
                title: '作品详情',
                shadeClose: true,
                shade: 0.8,
                area: ['70%', '100%'],
                content: "{:U('admin/pageConfig/info')}"+'?id='+id,
                end: function () {
                    location.reload();
                }
            });
        });
    </script>
</block>


