<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="__PUBLIC__/wang/common_css/reset.css">
	<link rel="stylesheet" href="__PUBLIC__/wang/company/company.css">
	<title>公司文化</title>
</head>
<body>
	<header>
		<include file="layout:header" />
	</header>
	<div class="content">
		<div class="content_left">
			<div class="bg">
				<li  id="title1" class="p_choice">什么是文化？</li>
				<li  id="title2">什么是真正的文化人？</li>
				<li  id="title3">什么是文化战队？</li>
				<li  id="title4">什么是文化产业软实力经济纽带？</li>
			</div>	
		</div>
		<div class="content_right">
			<div > <p class="fadeInUp" style='visibility: hidden; animation-name: none;'>“精神”文化灵魂标准体态建设构建的战略布局达成的统一意识，从而形成的主导趋势，融入现代科技的血液式传播形成的六维空间叫做文化。</p> </div>
			<div style="display: none;">  <p class="fadeInUp" style='visibility: hidden; animation-name: none;'>灵魂工程的顶层设计师叫做文化人。</p></div>
			<div style="display: none;">  <p class="fadeInUp" style='visibility: hidden; animation-name: none;'>一群以六维空间构建的灵魂工程设计人，形成的软实力核心竞争的经济纽带团队。叫做文化战队。</p></div>
			<div style="display: none;" id="long_p">
				<p class="fadeInUp" style='visibility: hidden; animation-name: none;margin-top: 40px;'>  文化产业的慨念包罗万象，用现代常人的思维意识就是娱乐、休闲、生活精神形态上的表现方式，然而忽略了从自身文化形态的塑造传播至精神财富的达成，因为现代人在现实世界的经济纽带中追求的财务自由和物质体验更贴切和真实，人与人之间乃至国与国之间的未来时代竞争不再是经济纽带单方面的平面竞争，更多的会在人文精神面貌涵养的细节体现及国度精神空间的穿插形成的文化认知到文化标准意识的统一，以文化塑造融入现代社会层面的根基，升级体验环态人文的交流，结合与实景氛围形成的三维形态产业达到“人”的灵魂意识的统一。</p>
				<p class="fadeInUp" style='visibility: hidden; animation-name: none;'>文化产业犹如宇宙的瀚海，维度空间的虚幻，却是每一刻在身边陪伴，所谓的电影、娱乐、健康、旅游等等都只是很微小的分量子，也统称现代社会传播灵魂建设的一种工具和形态。通过形态接收文化意识的改变从而达成统一灵魂的感召。</p>
				<p class="fadeInUp" style='visibility: hidden; animation-name: none;'>未来的时代中，文化产业的趋势形态将替代所有的现代商业，微粒子缩小到生活中的点点滴滴乃至于一言一行的内涵根源，正所谓（一念天堂，一念地狱）从而形成的维度空间感应，我们所追求的心灵自由、人生畅快、享受当下的形态，被佛学称为“修心”的意识感应会在物质欲望中逐步扩大乃至全球经济的相互融合，以“文化”为主导趋势形成的产业经济纽带得到逐步的衍生和无限的扩大直至“统一”这就是文化财富、产业环态乃至未来人类的无限需求。</p>
				<p class="fadeInUp" style='visibility: hidden; animation-name: none;'>文化产业的软实力竞争，将会成为国与国之间的文化战争，文化吸精意识逐步在形态经济纽带中向病毒一样在传播，这就是中国文化中所谓的“孔子”已经远离了我们.然而在日本/美国等国家却在传承我们中国＂龙＂文化精神和儒家思想的传递意识，巧妙融合于自身国家文化精神的塑造中，做为当今时代文化传承步伐的追随者，自身立命，＂塑造＂软实力比硬性产业的标准还重要，资源型产业及传统企业的改革和变种，足以体现了＂文化＂纽带在翻天覆地的驱动现代社会经济发展和人文的改变．从自身的软实力加强到家庭的软实力，再放大到国的软实力，这就是文化产业趋势中的需求侧．</p>	
			</div>
		</div>
	</div>
	<footer>
		<div class="footer_content">
			<h2>合作机构</h2>
			<div>
				<volist name="coopers" id="cooper">
				<a href="{$cooper['url']}" target="_blank"><img src="{$cooper['image_url']}" alt=""></a>
				</volist>
			</div>
			<p>Copyright 2017 阿纳巴里国际影业</p>
		</div>
	</footer>	
	<script src='__PUBLIC__/wang/common_js/jquery-1.12.4.min.js'></script>
	<script src='__PUBLIC__/wang/common_js/common.js'></script>
	<script src='__PUBLIC__/wang/company/company.js'></script>
</body>
</html>