body{
  font-family: 'Microsoft Yahei';
  font-size: 16px;
  min-width: 1200px;
  background: #fafafa;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
  color: white;
}
header{
  width: 100%;
  height: 120px;
  position: relative;
}
header a{
  color: white;
}
header .nav{
  width: 100%;
  height: 120px;
  position: absolute;
  top: 0;
  left: 0;
  background:black;
  z-index: 100;
}
.nav>div{
  height: 120px;
  margin: auto;
  text-align: center;
  width: 1200px;
  position: relative;
}
.logo{
  width: auto;
  height: 120px;
  display: block;
  float: left;
  line-height: 120px;
}
.top_nav{
  width: 590px;
  height: 120px;
  float: left;
  margin-left: 115px;
}
.top_nav li{
  float: left;
  padding-top: 40px;
  font-size: 16px;
  padding-right: 50px;
  height: 80px;
}
.top_nav>li:last-child{
  padding-right: 0;
}
.top_nav li a p:nth-child(2){
  font-size: 12px;
  margin-top: 10px;
}
.top_nav dl{
  position: absolute;
  top: 120px;
  left: -20px;
  background: black;
  width: 150px;
  display: none;
  z-index: 100;
}
.top_nav dl dd{
  height: 40px;
  line-height: 40px;
  text-align: left;
  padding-left: 20px;
}
.top_nav dl dd:nth-child(1) a{
  display: inline-block;
  height: 40px;
  padding-right: 10px;
  border-bottom: 1px solid #666;
}
.top_nav dl dd:nth-child(2){
  margin-bottom: 10px;
}
.top_nav li:hover p{
  color: #e50909;
}
.thishtml p{
   color: #e50909;
}
.top_nav li:nth-child(2):hover dl{
  display: block;
}
.login_reg{
  width: auto;
  height: 120px;
  float: right;
  color: white;
  font-size: 16px;
}
.login_reg li{
  position: relative;
  float: left;
  line-height: 120px;
  cursor: pointer;
  padding-left: 5px;
}
.login_reg input{
  width: 40px;
  outline: none;
  border:none;
  background: black;
  border-bottom: 1px solid white;
  color: white
}
#search_btn{
  display: block;
  width: 22px;
  height: 22px;
  background: url('../home_img/search_03.png');
  position: absolute;
  top: 46px;
  right: 0;
}
.login_reg  li:nth-child(1){
  width: 120px;
  text-align: right;
}
.user_img{
  width: auto;
  height: 120px;
}
.user_img>img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 5px;
  margin-right: 5px;
}
.content{
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
}
.content_left{
  width: 30%;
  height: 630px;
  background: url(img/bg.jpg) 100%;
  float: left;
}
.bg{
  background: rgba(0,0,0,0.23);
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.bg>li{
  font-size: 26px;
  margin-bottom: 50px;
  text-align: left;
  padding-left: 25px;
  color: white;
    cursor: pointer;
    list-style: disc;
}
.bg>li:first-child{
    margin-top: 150px;
  }
.bg .p_choice{
  color: #e50909;
}
.content_right{
  width: 70%;
  height: 630px;
  background: url(img/bg_img.jpg) 100%;
  float: left;
  color: white;
  font-size: 20px;
}
.content_right>div{
  width: 100%;
  height: 100%;
}
.content_right>div>p{
  text-indent: 15px;
  font-size: 26px;

}
.content_right>div:nth-child(1) p{
  width: 700px;
  height: auto;
  text-align: left;
  margin: auto;
  margin-top: 260px;
}
.content_right>div:nth-child(2) p{
  width: 700px;
  height: auto;
  text-align: left;
  margin: auto;
  margin-top: 260px;
}
.content_right>div:nth-child(3) p{
  width: 700px;
  height: auto;
  text-align: left;
  margin: auto;
  margin-top: 260px;
}
.content_right>div:nth-child(4) p{
  width: 80%;
  height: auto;
  text-align: left;
  margin: auto;
  margin-top: 10px;
  font-size: 16px;
  line-height: 26px;
}
footer{
  width: 100%;
  height: 320px;
  background: #0f0f0f;
}
.footer_content{
  width: 1200px;
  height: auto;
  overflow: hidden;
  color: #343434;
  margin: auto;
  text-align: center;
  font-size: 18px;
}
.footer_content h2{
  font-size: 38px;
  text-align: left;
  color: white;
  margin-top: 30px;
  margin-bottom: 30px;
}
.footer_content>div{
  text-align: center;
  width: 100%;
  height: 100px;
  overflow: hidden;
}
.footer_content>div>a{
  display: inline-block;
  width: 200px;
  height: 100px;
  margin-right: 20px;
}
.footer_content>div>a>img{
  width: 100%;
  height: 100%;
}
.footer_content>p{
  margin-top: 50px;
}
.about_content{
  width: 100%;
  height: auto;
  overflow: hidden;
  background: #fafafa;
  color: #787878;
  font-size: 14px;
}
.body{
  width: 1200px;
  margin: auto;
  padding-top: 104px;
  padding-bottom: 200px;
  height: auto;
}
.body>div:first-child{
  width: 100%;
  height: 436px;
  position: relative;
}
.box1>i:nth-child(1){
  display: block;
  width: 30px;
  height: 29px;
  position: absolute;
  top:0; left: 0;
  background: url(img/img04.png);
}
.box1>i:nth-child(2){
  display: block;
  width: 165px;
  height: 318px;
  position: absolute;
  bottom: 0; left: -114px;
  background: url(img/about_bg_03.png);
}
.box1_left{
  position: relative;
  z-index: 5;
  float: left;
  margin-left: 30px;
  margin-top: 70px;
}
.box1_left>p{
  margin-bottom: 20px;
}
.box1_right{
  float: right;
  width: 400px;
  height: 200px;
}
.box1_right>img{
  width: 100%;
  height: 100%;
}
.box2{
  width: 100%;
  height: 270px;
  position: relative;
  margin-top: 36px;
}
.box2>i{
  display: block;
  position: absolute;
  width: 101px;
  height: 102px;
  bottom: 0;
  right: -10px;
  background-image: url(img/img03.png);
  background-size: 100%;
}
.box2_left{
  width: 400px;
  height: 100%;
  float: left;
}
.box2_left>img{
  width: 100%;
  height: auto;
}
.box2_right{
  width: 750px;
  height: auto;
  float: right;
  position: relative;
  z-index: 5;
  font-size: 15px;
}
.box2_right>p{
  text-indent: 40px;
  line-height: 30px;
}
.box2_right>p>b{
  font-size: 36px;
}
.box3{
  width: 100%;
  height: auto;
  position: relative;
  margin-top: 120px;
  overflow: hidden;
  background: #e8e8e8;
}
.box3_left{
  width: 580px;
  height: auto;
  float: left;
}
.box_border{
  width: 200px;
  margin: auto;
  border: 1px solid #ccc;
  margin-bottom: 40px;
}
.box3 h3{
  font-size: 33px;
  color: #333;
  margin-bottom: 20px;
}
.box3 p{
  text-indent: 40px;
  line-height: 30px;
}
.box3_right{
  width: 500px;
  height: auto;
  border-top: 1px solid #ccc;
  float: right;
}
.box3_right>div:nth-child(1),.box3_right>div:nth-child(3){
width: 100%;
height: 70px;
cursor: pointer;
border-bottom: 1px solid #ccc;
font-size: 20px;
}
.box3_right>div:nth-child(2),.box3_right>div:nth-child(4){
padding-bottom: 20px;
border-bottom: 1px solid #ccc; 
}
.box3_right>div:nth-child(1) span,.box3_right>div:nth-child(3) span{
  display: block;
  float: left;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #666;
  margin-top: 25px;
  text-align:center;
  line-height: 20px;
  font-size: 20px;
  font-weight: 700;
  margin-right: 20px;
}
.box3_right>div:nth-child(1) b,.box3_right>div:nth-child(3) b{
  display: inline-block;
  height: 70px;
  line-height: 70px;
}
.box4{
  width: 100%;
  height: 411px;
  position: relative;
  margin-top: 100px;
  overflow: hidden;
  font-size: 16px;
  background: url(img/bg_box4.png);
}
.box4>ul:nth-child(1) li{
  width: 33%;
  height: 270px;
  float: left;
  text-align: center;
}
.box4>ul:nth-child(1) li h3{
  font-size: 60px;
  color: #bfbfbf;
  margin-bottom: 20px;
}
.box4>ul:nth-child(2) li{
  width: 50%;
  height: 270px;
  float: left;
  text-align: center;
}
.box4>ul:nth-child(2) li h3{
  font-size: 60px;
  color: #333;
  margin-bottom: 20px;
}
.footer{
  width: 100%;
  height: 70px;
  text-align: center;
  line-height: 70px;
  background: black;
  color: #464646;
  font-size: 20px;
}
#long_p>p{
  width: 96%;
}

   
    .fadeInUp {
        -webkit-animation-name: fadeInUp;
        animation-name: fadeInUp;
    }
    .animated {
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }


    @-webkit-keyframes fadeInUp {
      0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
      }

      100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
      }
    }

    @keyframes fadeInUp { 
      0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        -ms-transform: translateY(20px);
        transform: translateY(20px);
      }

      100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
      }
    } 


  