<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
	<link rel="stylesheet" href="__PUBLIC__/wang/common_css/reset.css">
	<link rel="stylesheet" href="__PUBLIC__/wang/detail/apply.css">
	<title>协议说明</title>
</head>
<body>
	<header>
		<a href="{:U('index/detail',['id'=>$id])}"><img src="__PUBLIC__/wang/common_img/backimg.png" alt="">电影详情</a>
		<p>协议说明</p>	
	</header>
	<div class="argement">
				<h3>一.收益制度</h3>
				<p>1.月酬：10%</p>
				<p>(1) 按照作品的拍摄周期最高拿3个月，作品上映后本金全额返回支持者账户，每部作品从拍摄到上映不超过6个月。</p>
				<p>(2) 每周可提总积分的2.5%，但需账户满350积分。</p>
				<p>(3) 作品筹备开放之日起满1个月未达到指定目标，则全额返还支持者账户。</p>
				<p>2.票房：-100%-300%</p>
				<p>(1) 每份投资的收益比例按作品的真实票房确定。</p>
				<p>(2) 普通作品封闭三个月后出票房数据后开放提现。</p>
				<p>(3) 院线作品封闭期根据拍摄周期确定。</p>
				<h3>二.动态制度</h3>
				<p>1.等级划分</p>
				<p>(1) 支持者：投资700积分</p>
				<p>(2) 经纪人：推荐5名支持者</p>
				<p>(3) 制片人：个人支持35000积分以上，推荐10名支持者，至少培养1名经纪人，团队100人</p>
				<p>(4) 出品人：个人投资70000积分以上，推荐30名支持者，至少培养1名制片人，团队500人</p>
				<p>2.佣金收益</p>
				<p>(1) 支持者：拿一代投资额的5%及一代票房收益的5%</p>
				<p>(2) 经纪人：拿二代投资额的5%，3%及二代票房收益的5%，3%</p>
				<p>(3) 制片人：拿三代投资额的5%，3%，1%及二代票房收益的5%，3%，1%，享受三代以外每月新增业绩的2%</p>
				<p>(4) 出品人：拿三代投资额的5%，3%，1%及三代票房收益的5%，3%，1%，享受三代以外每月新增业绩的4%</p>
				<h3>三.提现制度</h3>
				<p>1.周提现：每周五可提现，每次手续费10%</p>
				<p>2.月提现：每月的最后一天可提现，免手续费</p>
				<h3>四.退本制度</h3>
				<p>1.余额退本：扣除10%手续费，7-15个工作日到账</p>
				<p>2.投资退本：扣除所有收益和10%的手续费，7-15个工作日到账</p>
			</div>
	<script src='__PUBLIC__/wang/common_js/auto-size.js'></script>
</body>
</html>